@import "./variables";
@import "./global";

footer {
  padding: 20px 30px;
  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 5rem;
    margin-top: 50px;
  }

  .footer-box {
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    a {
      color: #979797;
      margin-bottom: 0.8rem;
      @extend .transition;
      &:hover {
        color: $main-color;
        transform: translateX(-5px);
      }
    }
    .social a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #202020;
      color: $main-color;
      font-size: 20px;
      margin-right: 8px;
      &:hover {
        background-color: $main-color;
        color: $bg-color;
        transform: translateX(-4px);
      }
    }
  }
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #979797;
  font-size: 15px;
  padding: 20px;
  border-top: 1px solid gray;
  margin-top: 40px;
}
